:root {
	--width_per: 90%;
}

.box {
	position: relative;
	top: 0px;
	margin: 50px auto;
	text-align: center;
	background-color: lightgray;
	border: none;
	border-radius: 5px;
	width: var(--width_per);
	max-width: 400px;
}
 
.btn {
	background-color: blue;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 10px #0056b3;
	transition: 0.1s;
}

.btn:active {
	box-shadow: 0 0px #0056b3;
	transform: translateY(10px)
}

.text {
	text-align: center;
}

#main {
	height: auto;
}

#btn-main {
	padding: 20px;
	padding-bottom: 30px;
}

#user-input {
	width: var(--width_per);
	max-width: 250px;
	height: 30px;
	margin: 10px 20px;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

#result-text {
	color: #444;
}

@media screen and (max-width: 767px) {
	#btn-main {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}